.landingcontainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding-top: 3rem;
  color: var(--black);
  margin-top: 1rem;
  padding-bottom: 3rem;
}

.landleft {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
}
.landright {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.firsttitle {
  font-size: var(--subtitle);
  font-weight: 200;
}
.secondtitle {
  font-size: 3.5rem;
  font-weight: 800;
}

.thirdtitle {
  font-size: var(--subtitle);
  font-weight: 100;
  letter-spacing: 1px;
  padding-bottom: 50px;
}

.landimage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.biggift {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1000px) {
  .landingcontainer {
    flex-direction: column;
  }
}
